@import "../../../variables";

.card__content_space-a {
  &_m {
    padding: $space-m;
  }

  &_l {
    padding: $space-l;
  }

  &_xl {
    padding: $space-xl
  }

  &_xxl {
    padding: $space-xxl;
  }

  &_xxxl {
    padding: $space-xxxl;
  }
}
