@import "../../../variables";

.card__footer_space-a_m {
  padding: $space-m;
}

.card__footer_space-a_l {
  padding: $space-l;
}

.card__footer_space-a_xl {
  padding: $space-xl;
}

.card__footer_space-a_xxl {
  padding: $space-xxl;
}
