@import "../../../variables";

.card__footer_space-a {
  &_m {
    padding: $space-m;
  }

  &_l {
    padding: $space-l;
  }

  &_xl {
    padding: $space-xl;
  }

  &_xxl {
    padding: $space-xxl;
  }
}
