@import "../../../variables";

.card__footer_vertical-align_center {
  align-items: center;
}

.card__footer_vertical-align_top {
  align-items: flex-start;
}

.card__footer_vertical-align_bottom {
  align-items: flex-end;
}
