@import "../../../variables";

.card__content_space-a_m {
  padding: $space-m;
}

.card__content_space-a_l {
  padding: $space-l;
}

.card__content_space-a_xl {
  padding: $space-xl
}

.card__content_space-a_xxl {
  padding: $space-xxl;
}
