@import "../../../variables";
@import "text__word_width";

.text__word {
  display: inline-block;
  vertical-align: middle;
  background-color: $text-color-primary;

  .text_size_s & {
    height: $font-size-s;
    font-size: $font-size-s;
  }

  .text_size_m & {
    height: $font-size-m;
    font-size: $font-size-m;
  }

  .text_size_l & {
    height: $font-size-l;
    font-size: $font-size-l;
  }

  .text_size_xl & {
    height: $font-size-xl;
    font-size: $font-size-xl;
  }

  .text_size_xxl & {
    height: $font-size-xxl;
    font-size: $font-size-xxl;
  }

  .text_view_primary & {
    background-color: $text-color-primary;
  }

  .text_view_secondary & {
    background-color: $text-color-secondary;
  }

  .text_view_ghost & {
    background-color: $text-color-additional;
  }

  .text_view_link & {
    background-color: $link-color;
  }
}
