@import "../../../variables";

.text_size {
  &_s {
    min-height: $line-height-s;
    line-height: $line-height-s;
    font-size: $font-size-s;
  }

  &_m {
    min-height: $line-height-m;
    line-height: $line-height-m;
    font-size: $font-size-m;
  }

  &_l {
    min-height: $line-height-l;
    line-height: $line-height-l;
    font-size: $font-size-l;
  }

  &_xl {
    min-height: $line-height-xl;
    line-height: $line-height-xl;
    font-size: $font-size-xl;
  }

  &_xxl {
    min-height: $line-height-xxl;
    line-height: $line-height-xxl;
    font-size: $font-size-xxl;
  }
}
