/*
заголовок первого уровня — margin 18px x 24px;
заголовок второго уровня — margin 45px x 21px;
заголовок третьего уровня — margin 42px x 0;
параграф — margin 15px x 21px.
 */

.text_type {
  &_h1 {
    margin: 18px 24px;
  }

  &_h2 {
    margin: 45px 21px;
  }

  &_h3 {
    margin: 42px 0;
  }

  &_p {
    margin: 15px 21px;
  }
}
