@import "../../../variables";

.text_size {
  &_s {
    font-size: $font-size-s;
  }

  &_m {
    font-size: $font-size-m;
  }

  &_l {
    font-size: $font-size-l;
  }

  &_xl {
    font-size: $font-size-xl;
  }

  &_xxl {
    font-size: $font-size-xxl;
  }
}
