.brand-logo_name {
  &_blue {
    background-color: #5dcdf9;
  }

  &_green {
    background-color: #23b324;
  }

  &_red {
    background-color: #ff3333;
  }

  &_purple {
    background-color: #c62cff;
  }
}
