@import "../../variables";

.warning__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $space-xxs;

  .placeholder {
    margin: $space-m 0;
  }

  .text__word {
    vertical-align: text-top;
  }
}
