@import "../../../variables";

.layout__container {
  width: 100%;
  margin: 0 auto;
  background-color: $bg-color-default;
}

@import "layout__container_align";
@import "layout__container_indent-b";
@import "layout__container_size";
@import "layout__container_space-v";
