@import "../../variables";

.payment {
  display: flex;
  flex-direction: column;
  min-height: 335px;
  border: $border-width solid $border-color;
}

@import "payment__content";
@import "payment__footer";
@import "payment__header";
