@import "../../variables";
@import "payment__content";
@import "payment__footer";
@import "payment__header";

.payment {
  display: flex;
  flex-direction: column;
  min-height: 335px;
  border: 3px solid $border-color;
}
