@import "../../../variables";

.grid_col-gap {
  &_half {
    grid-column-gap: calc(#{$gap} / 2);
  }

  &_two-thirds {
    grid-column-gap: calc((#{$gap} * 2) / 3);
  }

  &_full {
    grid-column-gap: $gap;
  }
}
