@import "../../../variables";

@import "grid_m-columns";
@import "grid_col-gap";
@import "grid_row-gap";
@import "grid__fraction";

// Ширина экрана screen-m совпадает с шириной брейкпойнта и равна 1144px.
$screen-m: $breakpoint;

.grid {
  display: grid;
  margin: 0 auto;
}

@media (max-width: #{$breakpoint}){
  .grid {
    min-width: $screen-m;
  }
}
