@import "../../../variables";
@import "grid_m-columns";
@import "grid_col-gap";
@import "grid_row-gap";
@import "grid__fraction";

.grid {
  display: grid;
  margin: 0 auto;
}

@media (max-width: $breakpoint) {
  .grid {
    display: flex;
    flex-direction: column;
  }
}
