@import "../../../variables";

@import "grid_m-columns";
@import "grid_col-gap";
@import "grid_row-gap";
@import "grid__fraction";

$screen-m: $breakpoint;

.grid {
  display: grid;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: $breakpoint){
  .grid {
    display: flex;
    flex-direction: column;
  }
}
