@mixin set-theme-colors(
  $bg-color-default: #ffffff,
  $bg-color-accent: #ffcc00,
  $border-color: #000000,
  $text-color: #000000,
  $link-color: #0077ff
) {
  --bg-color-default: #{$bg-color-default};
  --bg-color-accent: #{$bg-color-accent};
  --border-color: #{$border-color};
  --text-color-primary: #{$text-color};
  --text-color-secondary: #{rgba($text-color, 0.6)};
  --text-color-additional: #{rgba($text-color, 0.3)};
  --link-color: #{$link-color};
}

@mixin set-theme-sizes(
  $font-size-s: 8px,
  $font-size-m: 10px,
  $font-size-l: 11px,
  $font-size-xl: 13px,
  $font-size-xxl: 16px,
  $line-height-s: 21px,
  $line-height-m: 25px,
  $line-height-l: 28px,
  $line-height-xl: 34px,
  $line-height-xxl: 38px
) {
  --font-size-s: #{$font-size-s};
  --font-size-m: #{$font-size-m};
  --font-size-l: #{$font-size-l};
  --font-size-xl: #{$font-size-xl};
  --font-size-xxl: #{$font-size-xxl};
  --line-height-s: #{$line-height-s};
  --line-height-m: #{$line-height-m};
  --line-height-l: #{$line-height-l};
  --line-height-xl: #{$line-height-xl};
  --line-height-xxl: #{$line-height-xxl};
}

@mixin set-theme-spaces(
  $space-xxxs: 3px,
  $space-xxs: 6px,
  $space-xs: 9px,
  $space-s: 15px,
  $space-m: 18px,
  $space-l: 24px,
  $space-xl: 27px,
  $space-xxl: 36px,
  $space-xxxl: 45px,
  $space-xxxxl: 51px,
  $space-xxxxxl: 72px
) {
  --space-xxxs: #{$space-xxxs};
  --space-xxs: #{$space-xxs};
  --space-xs: #{$space-xs};
  --space-s: #{$space-s};
  --space-m: #{$space-m};
  --space-l: #{$space-l};
  --space-xl: #{$space-xl};
  --space-xxl: #{$space-xxl};
  --space-xxxl: #{$space-xxxl};
  --space-xxxxl: #{$space-xxxxl};
  --space-xxxxxl: #{$space-xxxxxl};
}
