@import "footer__content";

.footer {
  width: 100%;
  max-width: $max-width;
  padding: $space-xxxl 0;
  margin: 0 auto;
  background-color: $bg-color-default;
}

@media (max-width: $breakpoint) {
  .footer {
    padding: $space-xxxl $gap;
  }
}
