@import "../../variables";

.header {
  width: 100%;
  max-width: $max-width;
  padding: $space-xxxl 0;
  margin: 0 auto;
  background-color: $bg-color-default;
}

@media (max-width: $max-width) {
  .header {
    padding: $space-xxxl $space-s;
  }
}

@import "header__content";
@import "header__logo";
