@import "list__item_border";
@import "list__item_distribute";
@import "list__item_indent-b";
@import "list__item_indent-t";
@import "list__item_space-a";
@import "list__item_space-b";
@import "list__item_vertical-align";

.list__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &:first-child {
    margin-top: 0;
  }
}
