@import "cover/cover";
@import "event/event";
@import "footer/footer";
@import "header/header";
//@import "history/history";
@import "onoffswitch/onoffswitch";
@import "payment/payment";
@import "product/product";
//@import "warning/warning";
@import "cover/cover";
